
@{
    ViewData["Title"] = "About";
}

<h1>About page</h1>


<div>
    <ul>
        <li>
        <b>Name:</b> Dristi Marasini
        <br />
</li>
        <li>
            <b>  link to the repo:</b>
            <u>https://github.com/dristi-marasini/myMvc</u>
        </li>
    </ul>
</div>

