
@{
    ViewData["Title"] = "My Product";
}

<div class="text-center">
    <h1 class="display-4">Products</h1>
    
    <ul>
        <li class="nav-item"><a class="nav-link text-dark"  asp-area="" asp-controller="Product" asp-action="MyText">Respond with Text</a></li>
        <li class="nav-item"><a class="nav-link text-danger" asp-area="" asp-controller="Product" asp-action="MyJSON">Respond with JSON</a></li>
        <li class="nav-item"><a class="nav-link text-success" asp-area="" asp-controller="Product" asp-action="MyHTML">Respond with HTML</a></li>
        <li class="nav-item"><a class="nav-link text-primary" asp-area="" asp-controller="Product" asp-action="MyView">Respond with a view</a></li>
    </ul>
</div>

